@import './global.sass'

.curator
    svg
        width: 1.5em
        height: 1.5em

.curator.similars
    position: absolute
    bottom: 0
    left: 0

    .background
        display: inline-block
        max-height: 90vh
        max-width: 30vw

    &.focus .results
        display: block

    button
        padding: $space-narrow $space-narrow 0 $space-narrow

        &::active
            background-color: transparent

    ul, li, img
        min-height: 0

    ul, li
        padding: 0

    ul
        list-style: none
        display: none
        margin: 0

    li
        margin: 0 $space-narrow $space-narrow $space-narrow

    img
        display: block
        object-fit: scale-down

    .handle
        margin: 0 $space-narrow

    .results > li
        position: relative

    .label
        display: flex
        flex-direction: row
        position: absolute
        bottom: 0
        left: 0
        right: 0

        > div
            height: 2em

            &:first-child
                display: inline-block
                flex: 1
                min-width: 0

            &:last-child
                background-color: rgba(26, 26, 26, 0.8)

            > span
                display: inline-block
                max-width: 100%
                overflow: hidden
                text-overflow: ellipsis
                line-height: 2em
                padding: 0 $space-default
                background-color: rgba(26, 26, 26, 0.8)
                white-space: nowrap


            > button
                width: 2em

    .msg
        padding: $space-narrow $space-default

    .notice
        margin: $space-narrow $space-default