$space-narrow: 0.3em
$space-default: 0.6em

.curator
    svg
        width: 1.5em
        height: 1.5em

.curator.similars
    position: absolute
    bottom: 0
    left: 0

    .background
        display: inline-flex
        flex-direction: column
        max-height: 90vh
        max-width: 30vw

    &.focus .background > ul
        display: inline-flex

    button
        padding: $space-narrow $space-narrow 0 $space-narrow

        &::active
            background-color: transparent

    ul, li, img
        flex-shrink: 1
        min-height: 0

    ul, li
        padding: 0
        flex-direction: column

    ul
        list-style: none
        display: none
        margin: 0

    li
        display: inline-flex
        margin: $space-narrow $space-narrow 0 $space-narrow

    img
        object-fit: scale-down

    .handle
        margin: 0 $space-narrow

    .label
        line-height: 2.2em
        overflow: hidden
        text-overflow: ellipsis

        > button
            float: right
            margin-left: $space-default

    .msg
        padding: $space-narrow $space-default

    .notice
        margin: $space-narrow $space-default